<?php
/**
 * ApiException
 * PHP version 8.1
 *
 * @category Class
 * @package  Yoon\Generated
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * Yoon API
 *
 * Yoon is a self-hosted payment gateway. Your application sends **intent** — collect 5 000 XOF from this customer by Wave — and Yoon picks a configured provider, talks to it, verifies its callbacks and keeps a ledger.  ## Conventions - **Authentication:** `Authorization: Bearer yk_…` on every `/v1` route except `/v1/about`. - **Money:** integer amounts in the currency's minor unit. XOF has none: 5 000 XOF is `5000`.   Never floating point. - **Idempotency:** every `POST` requires an `Idempotency-Key` header. Retrying with the same   key and body returns the original response (with `Idempotent-Replayed: true`). The same key   with a different body is refused. Keys are kept for 24 hours. - **Errors:** [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json`   with a stable machine-readable `code`. - **Lists:** newest first, cursor-paginated with `starting_after` and `limit` (max 100). - **Phone numbers** are returned masked (`+22177***67`). - **Unknown outcomes:** if a provider does not answer, the payment stays `pending` on that   provider and is never sent to another one — the customer may already be paying.
 *
 * The version of the OpenAPI document: 0.1.0
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.16.0
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Yoon\Generated;

use \Exception;

/**
 * ApiException Class Doc Comment
 *
 * @category Class
 * @package  Yoon\Generated
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class ApiException extends Exception
{
    /**
     * The HTTP body of the server response either as Json or string.
     *
     * @var \stdClass|string|null
     */
    protected $responseBody;

    /**
     * The HTTP header of the server response.
     *
     * @var string[][]|null
     */
    protected $responseHeaders;

    /**
     * The deserialized response object
     *
     * @var \stdClass|string|null
     */
    protected $responseObject;

    /**
     * Constructor
     *
     * @param string                $message         Error message
     * @param int                   $code            HTTP status code
     * @param string[][]|null       $responseHeaders HTTP response header
     * @param \stdClass|string|null $responseBody    HTTP decoded body of the server response either as \stdClass or string
     */
    public function __construct($message = "", $code = 0, $responseHeaders = [], $responseBody = null)
    {
        parent::__construct($message, $code);
        $this->responseHeaders = $responseHeaders;
        $this->responseBody = $responseBody;
    }

    /**
     * Gets the HTTP response header
     *
     * @return string[][]|null HTTP response header
     */
    public function getResponseHeaders()
    {
        return $this->responseHeaders;
    }

    /**
     * Gets the HTTP body of the server response either as Json or string
     *
     * @return \stdClass|string|null HTTP body of the server response either as \stdClass or string
     */
    public function getResponseBody()
    {
        return $this->responseBody;
    }

    /**
     * Sets the deserialized response object (during deserialization)
     *
     * @param mixed $obj Deserialized response object
     *
     * @return void
     */
    public function setResponseObject($obj)
    {
        $this->responseObject = $obj;
    }

    /**
     * Gets the deserialized response object (during deserialization)
     *
     * @return mixed the deserialized response object
     */
    public function getResponseObject()
    {
        return $this->responseObject;
    }
}
