/*
 * Yoon API
 * Yoon is a self-hosted payment gateway. Your application sends **intent** — collect 5 000 XOF from this customer by Wave — and Yoon picks a configured provider, talks to it, verifies its callbacks and keeps a ledger.  ## Conventions - **Authentication:** `Authorization: Bearer yk_…` on every `/v1` route except `/v1/about`. - **Money:** integer amounts in the currency's minor unit. XOF has none: 5 000 XOF is `5000`.   Never floating point. - **Idempotency:** every `POST` requires an `Idempotency-Key` header. Retrying with the same   key and body returns the original response (with `Idempotent-Replayed: true`). The same key   with a different body is refused. Keys are kept for 24 hours. - **Errors:** [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json`   with a stable machine-readable `code`. - **Lists:** newest first, cursor-paginated with `starting_after` and `limit` (max 100). - **Phone numbers** are returned masked (`+22177***67`). - **Unknown outcomes:** if a provider does not answer, the payment stays `pending` on that   provider and is never sent to another one — the customer may already be paying. 
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package dev.yoonpay.client.generated.api;

import dev.yoonpay.client.generated.ApiClient;
import dev.yoonpay.client.generated.ApiException;
import dev.yoonpay.client.generated.ApiResponse;
import dev.yoonpay.client.generated.Configuration;
import dev.yoonpay.client.generated.Pair;

import dev.yoonpay.client.generated.model.DeliveryStatus;
import dev.yoonpay.client.generated.model.Event;
import dev.yoonpay.client.generated.model.EventPage;
import dev.yoonpay.client.generated.model.EventType;
import dev.yoonpay.client.generated.model.Problem;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.Locale;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.16.0")
public class EventsApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public EventsApi() {
    this(Configuration.getDefaultApiClient());
  }

  public EventsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response) throws ApiException {
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(response.body(), file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Get an event
   * 
   * @param id  (required)
   * @return Event
   * @throws ApiException if fails to make API call
   */
  public Event getEvent(@jakarta.annotation.Nonnull String id) throws ApiException {
    return getEvent(id, null);
  }

  /**
   * Get an event
   * 
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @return Event
   * @throws ApiException if fails to make API call
   */
  public Event getEvent(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    ApiResponse<Event> localVarResponse = getEventWithHttpInfo(id, headers);
    return localVarResponse.getData();
  }

  /**
   * Get an event
   * 
   * @param id  (required)
   * @return ApiResponse&lt;Event&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Event> getEventWithHttpInfo(@jakarta.annotation.Nonnull String id) throws ApiException {
    return getEventWithHttpInfo(id, null);
  }

  /**
   * Get an event
   * 
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Event&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Event> getEventWithHttpInfo(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getEventRequestBuilder(id, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getEvent", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Event>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        Event responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Event>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<Event>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getEventRequestBuilder(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getEvent");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/events/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List events
   * Every event Yoon generated for this application, with its delivery state. Use it to catch up after downtime instead of relying on webhook delivery alone. 
   * @param type  (optional)
   * @param deliveryStatus  (optional)
   * @param resourceId e.g. a payment id. (optional)
   * @param startingAfter Cursor — the &#x60;next_cursor&#x60; of the previous page. (optional)
   * @param limit  (optional, default to 20)
   * @return EventPage
   * @throws ApiException if fails to make API call
   */
  public EventPage listEvents(@jakarta.annotation.Nullable EventType type, @jakarta.annotation.Nullable DeliveryStatus deliveryStatus, @jakarta.annotation.Nullable String resourceId, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit) throws ApiException {
    return listEvents(type, deliveryStatus, resourceId, startingAfter, limit, null);
  }

  /**
   * List events
   * Every event Yoon generated for this application, with its delivery state. Use it to catch up after downtime instead of relying on webhook delivery alone. 
   * @param type  (optional)
   * @param deliveryStatus  (optional)
   * @param resourceId e.g. a payment id. (optional)
   * @param startingAfter Cursor — the &#x60;next_cursor&#x60; of the previous page. (optional)
   * @param limit  (optional, default to 20)
   * @param headers Optional headers to include in the request
   * @return EventPage
   * @throws ApiException if fails to make API call
   */
  public EventPage listEvents(@jakarta.annotation.Nullable EventType type, @jakarta.annotation.Nullable DeliveryStatus deliveryStatus, @jakarta.annotation.Nullable String resourceId, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit, Map<String, String> headers) throws ApiException {
    ApiResponse<EventPage> localVarResponse = listEventsWithHttpInfo(type, deliveryStatus, resourceId, startingAfter, limit, headers);
    return localVarResponse.getData();
  }

  /**
   * List events
   * Every event Yoon generated for this application, with its delivery state. Use it to catch up after downtime instead of relying on webhook delivery alone. 
   * @param type  (optional)
   * @param deliveryStatus  (optional)
   * @param resourceId e.g. a payment id. (optional)
   * @param startingAfter Cursor — the &#x60;next_cursor&#x60; of the previous page. (optional)
   * @param limit  (optional, default to 20)
   * @return ApiResponse&lt;EventPage&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EventPage> listEventsWithHttpInfo(@jakarta.annotation.Nullable EventType type, @jakarta.annotation.Nullable DeliveryStatus deliveryStatus, @jakarta.annotation.Nullable String resourceId, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit) throws ApiException {
    return listEventsWithHttpInfo(type, deliveryStatus, resourceId, startingAfter, limit, null);
  }

  /**
   * List events
   * Every event Yoon generated for this application, with its delivery state. Use it to catch up after downtime instead of relying on webhook delivery alone. 
   * @param type  (optional)
   * @param deliveryStatus  (optional)
   * @param resourceId e.g. a payment id. (optional)
   * @param startingAfter Cursor — the &#x60;next_cursor&#x60; of the previous page. (optional)
   * @param limit  (optional, default to 20)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;EventPage&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EventPage> listEventsWithHttpInfo(@jakarta.annotation.Nullable EventType type, @jakarta.annotation.Nullable DeliveryStatus deliveryStatus, @jakarta.annotation.Nullable String resourceId, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listEventsRequestBuilder(type, deliveryStatus, resourceId, startingAfter, limit, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listEvents", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<EventPage>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        EventPage responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<EventPage>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<EventPage>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listEventsRequestBuilder(@jakarta.annotation.Nullable EventType type, @jakarta.annotation.Nullable DeliveryStatus deliveryStatus, @jakarta.annotation.Nullable String resourceId, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit, Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/events";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "type";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));
    localVarQueryParameterBaseName = "delivery_status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("delivery_status", deliveryStatus));
    localVarQueryParameterBaseName = "resource_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("resource_id", resourceId));
    localVarQueryParameterBaseName = "starting_after";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("starting_after", startingAfter));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Deliver an event again
   * Queues the event for delivery to the webhook URL now, with a fresh set of attempts.
   * @param id  (required)
   * @param idempotencyKey Unique per operation you intend, e.g. a UUID. Reuse it only to retry the same request. (required)
   * @return Event
   * @throws ApiException if fails to make API call
   */
  public Event redeliverEvent(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String idempotencyKey) throws ApiException {
    return redeliverEvent(id, idempotencyKey, null);
  }

  /**
   * Deliver an event again
   * Queues the event for delivery to the webhook URL now, with a fresh set of attempts.
   * @param id  (required)
   * @param idempotencyKey Unique per operation you intend, e.g. a UUID. Reuse it only to retry the same request. (required)
   * @param headers Optional headers to include in the request
   * @return Event
   * @throws ApiException if fails to make API call
   */
  public Event redeliverEvent(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String idempotencyKey, Map<String, String> headers) throws ApiException {
    ApiResponse<Event> localVarResponse = redeliverEventWithHttpInfo(id, idempotencyKey, headers);
    return localVarResponse.getData();
  }

  /**
   * Deliver an event again
   * Queues the event for delivery to the webhook URL now, with a fresh set of attempts.
   * @param id  (required)
   * @param idempotencyKey Unique per operation you intend, e.g. a UUID. Reuse it only to retry the same request. (required)
   * @return ApiResponse&lt;Event&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Event> redeliverEventWithHttpInfo(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String idempotencyKey) throws ApiException {
    return redeliverEventWithHttpInfo(id, idempotencyKey, null);
  }

  /**
   * Deliver an event again
   * Queues the event for delivery to the webhook URL now, with a fresh set of attempts.
   * @param id  (required)
   * @param idempotencyKey Unique per operation you intend, e.g. a UUID. Reuse it only to retry the same request. (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Event&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Event> redeliverEventWithHttpInfo(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String idempotencyKey, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = redeliverEventRequestBuilder(id, idempotencyKey, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("redeliverEvent", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Event>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        Event responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Event>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<Event>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder redeliverEventRequestBuilder(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String idempotencyKey, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling redeliverEvent");
    }
    // verify the required parameter 'idempotencyKey' is set
    if (idempotencyKey == null) {
      throw new ApiException(400, "Missing the required parameter 'idempotencyKey' when calling redeliverEvent");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/events/{id}/redeliver"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (idempotencyKey != null) {
      localVarRequestBuilder.header("Idempotency-Key", idempotencyKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
