/*
 * Yoon API
 * Yoon is a self-hosted payment gateway. Your application sends **intent** — collect 5 000 XOF from this customer by Wave — and Yoon picks a configured provider, talks to it, verifies its callbacks and keeps a ledger.  ## Conventions - **Authentication:** `Authorization: Bearer yk_…` on every `/v1` route except `/v1/about`. - **Money:** integer amounts in the currency's minor unit. XOF has none: 5 000 XOF is `5000`.   Never floating point. - **Idempotency:** every `POST` requires an `Idempotency-Key` header. Retrying with the same   key and body returns the original response (with `Idempotent-Replayed: true`). The same key   with a different body is refused. Keys are kept for 24 hours. - **Errors:** [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json`   with a stable machine-readable `code`. - **Lists:** newest first, cursor-paginated with `starting_after` and `limit` (max 100). - **Phone numbers** are returned masked (`+22177***67`). - **Unknown outcomes:** if a provider does not answer, the payment stays `pending` on that   provider and is never sent to another one — the customer may already be paying. 
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package dev.yoonpay.client.generated.api;

import dev.yoonpay.client.generated.ApiClient;
import dev.yoonpay.client.generated.ApiException;
import dev.yoonpay.client.generated.ApiResponse;
import dev.yoonpay.client.generated.Configuration;
import dev.yoonpay.client.generated.Pair;

import dev.yoonpay.client.generated.model.CreatePaymentRequest;
import java.time.OffsetDateTime;
import dev.yoonpay.client.generated.model.Payment;
import dev.yoonpay.client.generated.model.PaymentPage;
import dev.yoonpay.client.generated.model.PaymentStatus;
import dev.yoonpay.client.generated.model.Problem;
import dev.yoonpay.client.generated.model.StatusEvent;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.Locale;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.16.0")
public class PaymentsApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public PaymentsApi() {
    this(Configuration.getDefaultApiClient());
  }

  public PaymentsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response) throws ApiException {
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(response.body(), file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Create a payment
   * Routes the payment to a configured provider that supports the country, method and currency. If that provider definitely refuses, the next one is tried. If its answer is unknown (timeout, error), the payment stays &#x60;pending&#x60; there — no other provider is tried.  With &#x60;checkout: hosted&#x60;, &#x60;method&#x60; is optional and no provider is called yet: the payment is &#x60;created&#x60; and &#x60;checkout_url&#x60; is a Yoon page where the customer picks one of the methods your providers support for this country and currency. Send the customer there. Requires &#x60;YOON_PUBLIC_URL&#x60;; cannot be combined with &#x60;provider&#x60;. 
   * @param idempotencyKey Unique per operation you intend, e.g. a UUID. Reuse it only to retry the same request. (required)
   * @param createPaymentRequest  (required)
   * @return Payment
   * @throws ApiException if fails to make API call
   */
  public Payment createPayment(@jakarta.annotation.Nonnull String idempotencyKey, @jakarta.annotation.Nonnull CreatePaymentRequest createPaymentRequest) throws ApiException {
    return createPayment(idempotencyKey, createPaymentRequest, null);
  }

  /**
   * Create a payment
   * Routes the payment to a configured provider that supports the country, method and currency. If that provider definitely refuses, the next one is tried. If its answer is unknown (timeout, error), the payment stays &#x60;pending&#x60; there — no other provider is tried.  With &#x60;checkout: hosted&#x60;, &#x60;method&#x60; is optional and no provider is called yet: the payment is &#x60;created&#x60; and &#x60;checkout_url&#x60; is a Yoon page where the customer picks one of the methods your providers support for this country and currency. Send the customer there. Requires &#x60;YOON_PUBLIC_URL&#x60;; cannot be combined with &#x60;provider&#x60;. 
   * @param idempotencyKey Unique per operation you intend, e.g. a UUID. Reuse it only to retry the same request. (required)
   * @param createPaymentRequest  (required)
   * @param headers Optional headers to include in the request
   * @return Payment
   * @throws ApiException if fails to make API call
   */
  public Payment createPayment(@jakarta.annotation.Nonnull String idempotencyKey, @jakarta.annotation.Nonnull CreatePaymentRequest createPaymentRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<Payment> localVarResponse = createPaymentWithHttpInfo(idempotencyKey, createPaymentRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Create a payment
   * Routes the payment to a configured provider that supports the country, method and currency. If that provider definitely refuses, the next one is tried. If its answer is unknown (timeout, error), the payment stays &#x60;pending&#x60; there — no other provider is tried.  With &#x60;checkout: hosted&#x60;, &#x60;method&#x60; is optional and no provider is called yet: the payment is &#x60;created&#x60; and &#x60;checkout_url&#x60; is a Yoon page where the customer picks one of the methods your providers support for this country and currency. Send the customer there. Requires &#x60;YOON_PUBLIC_URL&#x60;; cannot be combined with &#x60;provider&#x60;. 
   * @param idempotencyKey Unique per operation you intend, e.g. a UUID. Reuse it only to retry the same request. (required)
   * @param createPaymentRequest  (required)
   * @return ApiResponse&lt;Payment&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Payment> createPaymentWithHttpInfo(@jakarta.annotation.Nonnull String idempotencyKey, @jakarta.annotation.Nonnull CreatePaymentRequest createPaymentRequest) throws ApiException {
    return createPaymentWithHttpInfo(idempotencyKey, createPaymentRequest, null);
  }

  /**
   * Create a payment
   * Routes the payment to a configured provider that supports the country, method and currency. If that provider definitely refuses, the next one is tried. If its answer is unknown (timeout, error), the payment stays &#x60;pending&#x60; there — no other provider is tried.  With &#x60;checkout: hosted&#x60;, &#x60;method&#x60; is optional and no provider is called yet: the payment is &#x60;created&#x60; and &#x60;checkout_url&#x60; is a Yoon page where the customer picks one of the methods your providers support for this country and currency. Send the customer there. Requires &#x60;YOON_PUBLIC_URL&#x60;; cannot be combined with &#x60;provider&#x60;. 
   * @param idempotencyKey Unique per operation you intend, e.g. a UUID. Reuse it only to retry the same request. (required)
   * @param createPaymentRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Payment&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Payment> createPaymentWithHttpInfo(@jakarta.annotation.Nonnull String idempotencyKey, @jakarta.annotation.Nonnull CreatePaymentRequest createPaymentRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createPaymentRequestBuilder(idempotencyKey, createPaymentRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createPayment", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Payment>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        Payment responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Payment>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<Payment>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createPaymentRequestBuilder(@jakarta.annotation.Nonnull String idempotencyKey, @jakarta.annotation.Nonnull CreatePaymentRequest createPaymentRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'idempotencyKey' is set
    if (idempotencyKey == null) {
      throw new ApiException(400, "Missing the required parameter 'idempotencyKey' when calling createPayment");
    }
    // verify the required parameter 'createPaymentRequest' is set
    if (createPaymentRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createPaymentRequest' when calling createPayment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/payments";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (idempotencyKey != null) {
      localVarRequestBuilder.header("Idempotency-Key", idempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createPaymentRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get a payment
   * 
   * @param id  (required)
   * @return Payment
   * @throws ApiException if fails to make API call
   */
  public Payment getPayment(@jakarta.annotation.Nonnull String id) throws ApiException {
    return getPayment(id, null);
  }

  /**
   * Get a payment
   * 
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @return Payment
   * @throws ApiException if fails to make API call
   */
  public Payment getPayment(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    ApiResponse<Payment> localVarResponse = getPaymentWithHttpInfo(id, headers);
    return localVarResponse.getData();
  }

  /**
   * Get a payment
   * 
   * @param id  (required)
   * @return ApiResponse&lt;Payment&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Payment> getPaymentWithHttpInfo(@jakarta.annotation.Nonnull String id) throws ApiException {
    return getPaymentWithHttpInfo(id, null);
  }

  /**
   * Get a payment
   * 
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Payment&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Payment> getPaymentWithHttpInfo(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getPaymentRequestBuilder(id, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getPayment", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Payment>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        Payment responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Payment>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<Payment>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getPaymentRequestBuilder(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getPayment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/payments/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Status history of a payment
   * Every status change and ignored late news, oldest first — what support needs to answer \&quot;what happened?\&quot;.
   * @param id  (required)
   * @return List&lt;StatusEvent&gt;
   * @throws ApiException if fails to make API call
   */
  public List<StatusEvent> listPaymentEvents(@jakarta.annotation.Nonnull String id) throws ApiException {
    return listPaymentEvents(id, null);
  }

  /**
   * Status history of a payment
   * Every status change and ignored late news, oldest first — what support needs to answer \&quot;what happened?\&quot;.
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @return List&lt;StatusEvent&gt;
   * @throws ApiException if fails to make API call
   */
  public List<StatusEvent> listPaymentEvents(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    ApiResponse<List<StatusEvent>> localVarResponse = listPaymentEventsWithHttpInfo(id, headers);
    return localVarResponse.getData();
  }

  /**
   * Status history of a payment
   * Every status change and ignored late news, oldest first — what support needs to answer \&quot;what happened?\&quot;.
   * @param id  (required)
   * @return ApiResponse&lt;List&lt;StatusEvent&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<StatusEvent>> listPaymentEventsWithHttpInfo(@jakarta.annotation.Nonnull String id) throws ApiException {
    return listPaymentEventsWithHttpInfo(id, null);
  }

  /**
   * Status history of a payment
   * Every status change and ignored late news, oldest first — what support needs to answer \&quot;what happened?\&quot;.
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;List&lt;StatusEvent&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<StatusEvent>> listPaymentEventsWithHttpInfo(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listPaymentEventsRequestBuilder(id, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listPaymentEvents", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<StatusEvent>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        List<StatusEvent> responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<StatusEvent>>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<List<StatusEvent>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listPaymentEventsRequestBuilder(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling listPaymentEvents");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/payments/{id}/events"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List and search payments
   * 
   * @param reference Your own order id. (optional)
   * @param status  (optional)
   * @param provider  (optional)
   * @param method  (optional)
   * @param createdFrom Inclusive. (optional)
   * @param createdTo Exclusive. (optional)
   * @param customerPhone Exact match, international format (+221…). (optional)
   * @param startingAfter Cursor — the &#x60;next_cursor&#x60; of the previous page. (optional)
   * @param limit  (optional, default to 20)
   * @return PaymentPage
   * @throws ApiException if fails to make API call
   */
  public PaymentPage listPayments(@jakarta.annotation.Nullable String reference, @jakarta.annotation.Nullable PaymentStatus status, @jakarta.annotation.Nullable String provider, @jakarta.annotation.Nullable String method, @jakarta.annotation.Nullable OffsetDateTime createdFrom, @jakarta.annotation.Nullable OffsetDateTime createdTo, @jakarta.annotation.Nullable String customerPhone, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit) throws ApiException {
    return listPayments(reference, status, provider, method, createdFrom, createdTo, customerPhone, startingAfter, limit, null);
  }

  /**
   * List and search payments
   * 
   * @param reference Your own order id. (optional)
   * @param status  (optional)
   * @param provider  (optional)
   * @param method  (optional)
   * @param createdFrom Inclusive. (optional)
   * @param createdTo Exclusive. (optional)
   * @param customerPhone Exact match, international format (+221…). (optional)
   * @param startingAfter Cursor — the &#x60;next_cursor&#x60; of the previous page. (optional)
   * @param limit  (optional, default to 20)
   * @param headers Optional headers to include in the request
   * @return PaymentPage
   * @throws ApiException if fails to make API call
   */
  public PaymentPage listPayments(@jakarta.annotation.Nullable String reference, @jakarta.annotation.Nullable PaymentStatus status, @jakarta.annotation.Nullable String provider, @jakarta.annotation.Nullable String method, @jakarta.annotation.Nullable OffsetDateTime createdFrom, @jakarta.annotation.Nullable OffsetDateTime createdTo, @jakarta.annotation.Nullable String customerPhone, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit, Map<String, String> headers) throws ApiException {
    ApiResponse<PaymentPage> localVarResponse = listPaymentsWithHttpInfo(reference, status, provider, method, createdFrom, createdTo, customerPhone, startingAfter, limit, headers);
    return localVarResponse.getData();
  }

  /**
   * List and search payments
   * 
   * @param reference Your own order id. (optional)
   * @param status  (optional)
   * @param provider  (optional)
   * @param method  (optional)
   * @param createdFrom Inclusive. (optional)
   * @param createdTo Exclusive. (optional)
   * @param customerPhone Exact match, international format (+221…). (optional)
   * @param startingAfter Cursor — the &#x60;next_cursor&#x60; of the previous page. (optional)
   * @param limit  (optional, default to 20)
   * @return ApiResponse&lt;PaymentPage&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PaymentPage> listPaymentsWithHttpInfo(@jakarta.annotation.Nullable String reference, @jakarta.annotation.Nullable PaymentStatus status, @jakarta.annotation.Nullable String provider, @jakarta.annotation.Nullable String method, @jakarta.annotation.Nullable OffsetDateTime createdFrom, @jakarta.annotation.Nullable OffsetDateTime createdTo, @jakarta.annotation.Nullable String customerPhone, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit) throws ApiException {
    return listPaymentsWithHttpInfo(reference, status, provider, method, createdFrom, createdTo, customerPhone, startingAfter, limit, null);
  }

  /**
   * List and search payments
   * 
   * @param reference Your own order id. (optional)
   * @param status  (optional)
   * @param provider  (optional)
   * @param method  (optional)
   * @param createdFrom Inclusive. (optional)
   * @param createdTo Exclusive. (optional)
   * @param customerPhone Exact match, international format (+221…). (optional)
   * @param startingAfter Cursor — the &#x60;next_cursor&#x60; of the previous page. (optional)
   * @param limit  (optional, default to 20)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;PaymentPage&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PaymentPage> listPaymentsWithHttpInfo(@jakarta.annotation.Nullable String reference, @jakarta.annotation.Nullable PaymentStatus status, @jakarta.annotation.Nullable String provider, @jakarta.annotation.Nullable String method, @jakarta.annotation.Nullable OffsetDateTime createdFrom, @jakarta.annotation.Nullable OffsetDateTime createdTo, @jakarta.annotation.Nullable String customerPhone, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listPaymentsRequestBuilder(reference, status, provider, method, createdFrom, createdTo, customerPhone, startingAfter, limit, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listPayments", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<PaymentPage>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        PaymentPage responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<PaymentPage>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<PaymentPage>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listPaymentsRequestBuilder(@jakarta.annotation.Nullable String reference, @jakarta.annotation.Nullable PaymentStatus status, @jakarta.annotation.Nullable String provider, @jakarta.annotation.Nullable String method, @jakarta.annotation.Nullable OffsetDateTime createdFrom, @jakarta.annotation.Nullable OffsetDateTime createdTo, @jakarta.annotation.Nullable String customerPhone, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit, Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/payments";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "reference";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("reference", reference));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "provider";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("provider", provider));
    localVarQueryParameterBaseName = "method";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("method", method));
    localVarQueryParameterBaseName = "created_from";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("created_from", createdFrom));
    localVarQueryParameterBaseName = "created_to";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("created_to", createdTo));
    localVarQueryParameterBaseName = "customer_phone";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("customer_phone", customerPhone));
    localVarQueryParameterBaseName = "starting_after";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("starting_after", startingAfter));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
