/*
 * Yoon API
 * Yoon is a self-hosted payment gateway. Your application sends **intent** — collect 5 000 XOF from this customer by Wave — and Yoon picks a configured provider, talks to it, verifies its callbacks and keeps a ledger.  ## Conventions - **Authentication:** `Authorization: Bearer yk_…` on every `/v1` route except `/v1/about`. - **Money:** integer amounts in the currency's minor unit. XOF has none: 5 000 XOF is `5000`.   Never floating point. - **Idempotency:** every `POST` requires an `Idempotency-Key` header. Retrying with the same   key and body returns the original response (with `Idempotent-Replayed: true`). The same key   with a different body is refused. Keys are kept for 24 hours. - **Errors:** [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json`   with a stable machine-readable `code`. - **Lists:** newest first, cursor-paginated with `starting_after` and `limit` (max 100). - **Phone numbers** are returned masked (`+22177***67`). - **Unknown outcomes:** if a provider does not answer, the payment stays `pending` on that   provider and is never sent to another one — the customer may already be paying. 
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package dev.yoonpay.client.generated.api;

import dev.yoonpay.client.generated.ApiClient;
import dev.yoonpay.client.generated.ApiException;
import dev.yoonpay.client.generated.ApiResponse;
import dev.yoonpay.client.generated.Configuration;
import dev.yoonpay.client.generated.Pair;

import dev.yoonpay.client.generated.model.CreatePayoutRequest;
import dev.yoonpay.client.generated.model.Payout;
import dev.yoonpay.client.generated.model.PayoutPage;
import dev.yoonpay.client.generated.model.PayoutStatus;
import dev.yoonpay.client.generated.model.Problem;
import dev.yoonpay.client.generated.model.StatusEvent;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.Locale;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.16.0")
public class PayoutsApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public PayoutsApi() {
    this(Configuration.getDefaultApiClient());
  }

  public PayoutsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response) throws ApiException {
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(response.body(), file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Send a payout
   * Sent to exactly one provider, exactly once. If the provider&#39;s answer is lost the payout is &#x60;unknown&#x60; and Yoon resolves it through the provider&#39;s status API — it is never retried and never sent elsewhere, so it can never be paid twice. 
   * @param idempotencyKey Unique per operation you intend, e.g. a UUID. Reuse it only to retry the same request. (required)
   * @param createPayoutRequest  (required)
   * @return Payout
   * @throws ApiException if fails to make API call
   */
  public Payout createPayout(@jakarta.annotation.Nonnull String idempotencyKey, @jakarta.annotation.Nonnull CreatePayoutRequest createPayoutRequest) throws ApiException {
    return createPayout(idempotencyKey, createPayoutRequest, null);
  }

  /**
   * Send a payout
   * Sent to exactly one provider, exactly once. If the provider&#39;s answer is lost the payout is &#x60;unknown&#x60; and Yoon resolves it through the provider&#39;s status API — it is never retried and never sent elsewhere, so it can never be paid twice. 
   * @param idempotencyKey Unique per operation you intend, e.g. a UUID. Reuse it only to retry the same request. (required)
   * @param createPayoutRequest  (required)
   * @param headers Optional headers to include in the request
   * @return Payout
   * @throws ApiException if fails to make API call
   */
  public Payout createPayout(@jakarta.annotation.Nonnull String idempotencyKey, @jakarta.annotation.Nonnull CreatePayoutRequest createPayoutRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<Payout> localVarResponse = createPayoutWithHttpInfo(idempotencyKey, createPayoutRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Send a payout
   * Sent to exactly one provider, exactly once. If the provider&#39;s answer is lost the payout is &#x60;unknown&#x60; and Yoon resolves it through the provider&#39;s status API — it is never retried and never sent elsewhere, so it can never be paid twice. 
   * @param idempotencyKey Unique per operation you intend, e.g. a UUID. Reuse it only to retry the same request. (required)
   * @param createPayoutRequest  (required)
   * @return ApiResponse&lt;Payout&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Payout> createPayoutWithHttpInfo(@jakarta.annotation.Nonnull String idempotencyKey, @jakarta.annotation.Nonnull CreatePayoutRequest createPayoutRequest) throws ApiException {
    return createPayoutWithHttpInfo(idempotencyKey, createPayoutRequest, null);
  }

  /**
   * Send a payout
   * Sent to exactly one provider, exactly once. If the provider&#39;s answer is lost the payout is &#x60;unknown&#x60; and Yoon resolves it through the provider&#39;s status API — it is never retried and never sent elsewhere, so it can never be paid twice. 
   * @param idempotencyKey Unique per operation you intend, e.g. a UUID. Reuse it only to retry the same request. (required)
   * @param createPayoutRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Payout&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Payout> createPayoutWithHttpInfo(@jakarta.annotation.Nonnull String idempotencyKey, @jakarta.annotation.Nonnull CreatePayoutRequest createPayoutRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createPayoutRequestBuilder(idempotencyKey, createPayoutRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createPayout", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Payout>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        Payout responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Payout>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<Payout>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createPayoutRequestBuilder(@jakarta.annotation.Nonnull String idempotencyKey, @jakarta.annotation.Nonnull CreatePayoutRequest createPayoutRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'idempotencyKey' is set
    if (idempotencyKey == null) {
      throw new ApiException(400, "Missing the required parameter 'idempotencyKey' when calling createPayout");
    }
    // verify the required parameter 'createPayoutRequest' is set
    if (createPayoutRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createPayoutRequest' when calling createPayout");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/payouts";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (idempotencyKey != null) {
      localVarRequestBuilder.header("Idempotency-Key", idempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createPayoutRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get a payout
   * 
   * @param id  (required)
   * @return Payout
   * @throws ApiException if fails to make API call
   */
  public Payout getPayout(@jakarta.annotation.Nonnull String id) throws ApiException {
    return getPayout(id, null);
  }

  /**
   * Get a payout
   * 
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @return Payout
   * @throws ApiException if fails to make API call
   */
  public Payout getPayout(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    ApiResponse<Payout> localVarResponse = getPayoutWithHttpInfo(id, headers);
    return localVarResponse.getData();
  }

  /**
   * Get a payout
   * 
   * @param id  (required)
   * @return ApiResponse&lt;Payout&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Payout> getPayoutWithHttpInfo(@jakarta.annotation.Nonnull String id) throws ApiException {
    return getPayoutWithHttpInfo(id, null);
  }

  /**
   * Get a payout
   * 
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Payout&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Payout> getPayoutWithHttpInfo(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getPayoutRequestBuilder(id, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getPayout", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Payout>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        Payout responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Payout>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<Payout>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getPayoutRequestBuilder(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getPayout");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/payouts/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Status history of a payout
   * 
   * @param id  (required)
   * @return List&lt;StatusEvent&gt;
   * @throws ApiException if fails to make API call
   */
  public List<StatusEvent> listPayoutEvents(@jakarta.annotation.Nonnull String id) throws ApiException {
    return listPayoutEvents(id, null);
  }

  /**
   * Status history of a payout
   * 
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @return List&lt;StatusEvent&gt;
   * @throws ApiException if fails to make API call
   */
  public List<StatusEvent> listPayoutEvents(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    ApiResponse<List<StatusEvent>> localVarResponse = listPayoutEventsWithHttpInfo(id, headers);
    return localVarResponse.getData();
  }

  /**
   * Status history of a payout
   * 
   * @param id  (required)
   * @return ApiResponse&lt;List&lt;StatusEvent&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<StatusEvent>> listPayoutEventsWithHttpInfo(@jakarta.annotation.Nonnull String id) throws ApiException {
    return listPayoutEventsWithHttpInfo(id, null);
  }

  /**
   * Status history of a payout
   * 
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;List&lt;StatusEvent&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<StatusEvent>> listPayoutEventsWithHttpInfo(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listPayoutEventsRequestBuilder(id, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listPayoutEvents", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<StatusEvent>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        List<StatusEvent> responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<StatusEvent>>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<List<StatusEvent>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listPayoutEventsRequestBuilder(@jakarta.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling listPayoutEvents");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/payouts/{id}/events"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List payouts
   * 
   * @param status  (optional)
   * @param reference  (optional)
   * @param needsReview Payouts whose outcome stayed unknown too long. (optional)
   * @param startingAfter Cursor — the &#x60;next_cursor&#x60; of the previous page. (optional)
   * @param limit  (optional, default to 20)
   * @return PayoutPage
   * @throws ApiException if fails to make API call
   */
  public PayoutPage listPayouts(@jakarta.annotation.Nullable PayoutStatus status, @jakarta.annotation.Nullable String reference, @jakarta.annotation.Nullable Boolean needsReview, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit) throws ApiException {
    return listPayouts(status, reference, needsReview, startingAfter, limit, null);
  }

  /**
   * List payouts
   * 
   * @param status  (optional)
   * @param reference  (optional)
   * @param needsReview Payouts whose outcome stayed unknown too long. (optional)
   * @param startingAfter Cursor — the &#x60;next_cursor&#x60; of the previous page. (optional)
   * @param limit  (optional, default to 20)
   * @param headers Optional headers to include in the request
   * @return PayoutPage
   * @throws ApiException if fails to make API call
   */
  public PayoutPage listPayouts(@jakarta.annotation.Nullable PayoutStatus status, @jakarta.annotation.Nullable String reference, @jakarta.annotation.Nullable Boolean needsReview, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit, Map<String, String> headers) throws ApiException {
    ApiResponse<PayoutPage> localVarResponse = listPayoutsWithHttpInfo(status, reference, needsReview, startingAfter, limit, headers);
    return localVarResponse.getData();
  }

  /**
   * List payouts
   * 
   * @param status  (optional)
   * @param reference  (optional)
   * @param needsReview Payouts whose outcome stayed unknown too long. (optional)
   * @param startingAfter Cursor — the &#x60;next_cursor&#x60; of the previous page. (optional)
   * @param limit  (optional, default to 20)
   * @return ApiResponse&lt;PayoutPage&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PayoutPage> listPayoutsWithHttpInfo(@jakarta.annotation.Nullable PayoutStatus status, @jakarta.annotation.Nullable String reference, @jakarta.annotation.Nullable Boolean needsReview, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit) throws ApiException {
    return listPayoutsWithHttpInfo(status, reference, needsReview, startingAfter, limit, null);
  }

  /**
   * List payouts
   * 
   * @param status  (optional)
   * @param reference  (optional)
   * @param needsReview Payouts whose outcome stayed unknown too long. (optional)
   * @param startingAfter Cursor — the &#x60;next_cursor&#x60; of the previous page. (optional)
   * @param limit  (optional, default to 20)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;PayoutPage&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PayoutPage> listPayoutsWithHttpInfo(@jakarta.annotation.Nullable PayoutStatus status, @jakarta.annotation.Nullable String reference, @jakarta.annotation.Nullable Boolean needsReview, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listPayoutsRequestBuilder(status, reference, needsReview, startingAfter, limit, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listPayouts", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<PayoutPage>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        PayoutPage responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<PayoutPage>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<PayoutPage>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listPayoutsRequestBuilder(@jakarta.annotation.Nullable PayoutStatus status, @jakarta.annotation.Nullable String reference, @jakarta.annotation.Nullable Boolean needsReview, @jakarta.annotation.Nullable String startingAfter, @jakarta.annotation.Nullable Integer limit, Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/payouts";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "reference";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("reference", reference));
    localVarQueryParameterBaseName = "needs_review";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("needs_review", needsReview));
    localVarQueryParameterBaseName = "starting_after";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("starting_after", startingAfter));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
